DATABASE_URL=postgresql://username:password@localhost:5432/dbname
JWT_SECRET_KEY=generate-with-python3-c-"import-secrets;print(secrets.token_hex(32))"
SES_SENDER_EMAIL=your-verified-ses-email@example.com
AWS_REGION=us-east-1
FRONTEND_BASE_URL=http://localhost:5173
BACKEND_BASE_URL=http://localhost:8000
